@import '@fontsource/fira-mono';

@font-face {
	font-family: 'Vaulto';
	src: url('/fonts/vaulto.ttf') format('truetype');
}

:root {
	--font-display: Vaulto, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font: 'Anonymous Pro', 'Fira Mono', monospace;

	--foreground: #000000;
	--background: #ebe6e6;
	--button-gradient: linear-gradient(to bottom right, #777777, #000000);
	--highlight-gradient: linear-gradient(to bottom right, #d1c9c9, #f3f3f3);

	font-family: var(--font);
	color: var(--foreground);
}

[data-theme='dark'] {
	--font-display: Vaulto, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font: 'Anonymous Pro', 'Fira Mono', monospace;

	--foreground: #ebe6e6;
	--background: #000000;
	--button-gradient: linear-gradient(to bottom right, #d1c9c9, #f3f3f3);
	--highlight-gradient: linear-gradient(to bottom right, #777777, #000000);

	font-family: var(--font);
	color: var(--foreground);
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--background);
	background-size: 100vw 100vh;
}
